<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-nativeclicksound" version="0.0.4">
    <name>Native Click Sound</name>
    <description>Get native click sounds on android and ios</description>
    <license>MIT</license>
    <keywords>ios,android,click,native,sound</keywords>
    <engines>
        <engine name="cordova" version=">=3.7.1"/>
    </engines>
    <js-module src="www/nativeclick.js" name="nativeclick">
        <clobbers target="nativeclick" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeClick">
                <param name="android-package" value="com.matimenich.plugins.nativeclick.NativeClick"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/NativeClick.java" target-dir="src/com/matimenich/plugins/nativeclick"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
         <feature name="NativeClick">
             <param name="ios-package" value="NativeClick" />
         </feature>
        </config-file>
        <header-file src="src/ios/NativeClick.h" />
        <source-file src="src/ios/NativeClick.m" />
        <framework src="AudioToolbox.framework" weak="true" />
    </platform>
</plugin>
